Source: python-timber
Section: python
Maintainer: eviljoel, Andrew Klapp
Build-Depends: debhelper (>=9),
               dh-python,
               python-all (>=2.6.6.3~),
               python-setuptools

Package: python-timber
Section: python
Architecture: all
Depends: ${python::Depends}, ${misc::Depends}
Description: Our daemon logger.
